$orange: #e79759;
$blue: #183650;
$gris-clair: #f0f0f0;
$vert: #2dc220;
$bleu: #403ddb;
$jaune: #dee20e;

.Card {
	background-color: $gris-clair;
	display: flex;
	justify-content: space-between;
	margin: 12px;

	span:first-of-type {
		padding: 0;
		width: 20px;
	}

	.title {
		font-weight: bold;
	}

	.round-container {
		display: flex;

		.round {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: grey;
			margin: 1px;
			border: 1px black solid;
			position: relative;
		}

		.r2 {
			left: -10px;
		}

		.r3 {
			left: -20px;
		}

		.r4 {
			left: -30px;
		}
	}
}
