$orange: #e79759;
$blue: #183650;
$gris-clair: #f0f0f0;

body {
	margin: 0;
	box-sizing: border-box;

	#app {
		width: 100vw;
		min-height: 100vh;

		.page-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	h1,
	h2,
	h3 {
		font-family: "Montserrat", sans-serif;
	}

	p {
		font-family: "Hind", sans-serif;
	}
}

#Header {
	width: 100%;
	height: 6vh;
}

#SearchBar {
	width: 100%;
	height: 14vh;
	background-color: aquamarine;
}

#mainpage {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: space-between;

	#NavSelector {
		width: 20vw;
		background-color: $blue;
	}

	#TableCards {
		width: 80vw;
		background-color: white;
	}
}
