$orange: #e79759;
$blue: #183650;
$gris-clair: #f0f0f0;
$height: 8%;

body {
	margin: 0;
	box-sizing: border-box;

	#app {
		width: 100vw;
		height: 100vh;

		.page-container {
			height: 100%;
			// display: flex;
			// flex-direction: column;
		}
	}

	h1,
	h2,
	h3 {
		font-family: "Montserrat", sans-serif;
	}

	p {
		font-family: "Hind", sans-serif;
	}
}

#Header {
	width: 100%;
	height: $height;
}

#SearchBar {
	width: 100%;
	height: 2 * $height;
	background-color: aquamarine;
}

#mainpage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

	#NavSelector {
		width: 20vw;
		height: 100%;
		background-color: $blue;
	}

	#TableCards {
		width: 80vw;
		background-color: white;
	}
}
