$orange: #e79759;
$blue: #183650;
$gris-clair: #f0f0f0;

@use "./main";
@use "./navSelector";
@use "./tableCards";
@use "./cards";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .disable-blur{
        image-rendering: -webkit-optimize-contrast;
    }
  }

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
