@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.child {
    background-color: #0A1E30;
    height: 100vh;
    width: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titlezone {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.herezone {
    color: WHITE;
    font-size: 3.5rem;
    margin-top: 35%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.buttonask {
    background-color: #0A1E30;
    width: 296px;
    height: 67px;
    border-width: 1px;
    border-style:solid;
    border-color: white;
    border-radius: 2px;
    margin-top: 6%;
}

.request {
    color: white;
    font-size: 1.2rem;
    
}


.hr1 {
    color: white;
    display: flex;
    width: 300px;
    border-style:solid;
}

.hr2 {
    color: white;
    display: flex;
    width: 200px;
    border-style: solid;
    margin-top: 3%;
}

.blocbleu {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 200px;
    background-color: #0A1E30;
}

.lk {
    display: flex;
    margin-top: 10vh;
    margin-right: 10%;
    fill: white;
    width: 50px !important;
    height: 50px !important;
}

.logo {
    margin-top: 10%;
    width: 370px !important;
    height: auto !important;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

.blocbleu {
    height: 200px;
    background: #0A1E30;
    margin-top: 25%;
    display: flex;
    margin: 0 auto;
    justify-content:space-evenly;
}

.social {
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logosocial {
    display: flex;
    justify-content: center;
}


::placeholder {
    text-align: center;
}
