.form-box{
    background-image: url('../src/image/triangle.png');
    background-repeat: no-repeat;
    background-position: 45% 10px;
    form{
        margin-top: 2rem;
        input{
            border-radius: 5px;
        }
        textarea{
            border-radius: 5px;
        }
        select{
            border-radius: 5px;
        }
    }
}
