.form-box {
	background-image: url("../src/image/triangle.png");
	background-repeat: no-repeat;
	background-position: 45% 10px;
	form {
		margin-top: 2rem;
		input {
			border-radius: 5px;
			padding: 0 10px;
		}
		textarea {
			border-radius: 5px;
			padding: 0 10px;
		}
		select {
			border-radius: 5px;
		}
	}
}
