<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}New
			{% endblock %}
		</title>
		<style></style>
	</head>
	<body>
		{% block body %}
			<img style="display:flex; margin: 0 auto; text-align:center" src="	https://s3-eu-west-1.amazonaws.com/th-prod/booth/0001/64/d8afad515d57e44f15da67bdc15e72f1af33c8d5.jpeg" alt="logo apside">
			<h1 style="vertical-align: -webkit-baseline-middle;  font-family: Arial;">New project :
				<u>{{ project.name }}</u>
				created</h1>
			<p style="margin-top: 20px; text-align:justify; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">Hello, a new project
				<u>{{project.name}}</u>
				has been created on Apside
				<b>{{project.agency[0].name}}</b>.


			</p>
			<h3 style="margin-bottom: 15px; vertical-align: -webkit-baseline-middle;  font-size: medium; font-family: Arial;">Project Description :</h3>
			<p style="line-height: 1.5; margin-bottom: 40px; text-align width: 60%; vertical-align: -webkit-baseline-middle;  font-size: medium; font-family: Arial;">
				{{project.description}}
			</p>
			<br>
			<div style="display:flex; margin: 0 auto;">
				<a style="text-align:center; margin: 0 auto; font-size: medium; font-family: Arial; background-color: #E79759; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 15px 32px" href="http://127.0.0.1:8000/app">Aller aux projets</a>
			</div>
			<br>
			<hr style="margin-top: 50px">
			<br>

			<table style="margin-top:40px" cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
				<tbody>
					<tr>
						<td>
							<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
								<tbody>
									<tr>
										<td style="vertical-align: top;">
											<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
												<tbody>
													<tr>
														<td height="30"></td>
													</tr>
													<tr>
														<td style="text-align: center;">
															<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
																<tbody>
																	<tr style="text-align: center;">

																		<td width="5">
																			<div></div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
										<td width="46">
											<div></div>
										</td>
										<td style="padding: 0px; vertical-align: middle;">
											<h3 color="#000000" class="sc-fBuWsC eeihxG" style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0);">
												<span>Jean</span>
												<span>&nbsp;</span>
												<span>Dupont</span>
											</h3>
											<p color="#000000" font-size="medium" class="sc-fMiknA bxZCMx" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
												<span>Product Owner</span>
											</p>
											<p color="#000000" font-size="medium" class="sc-dVhcbM fghLuF" style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
												<span>DevOps</span>
												<span>&nbsp;|&nbsp;</span>
												<span>Apside</span>
											</p>

											<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
												<tbody>
													<tr>
														<td height="30"></td>
													</tr>
													<tr>
														<td color="#f2547d" direction="horizontal" height="1" class="sc-jhAzac hmXDXQ" style="width: 100%; border-bottom: 1px solid rgb(242, 84, 125); border-left: none; display: block;"></td>
													</tr>
													<tr>
														<td height="30"></td>
													</tr>
												</tbody>
											</table>
											<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
												<tbody>
													<tr height="25" style="vertical-align: middle;">
														<td width="30" style="vertical-align: middle;">
															<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
																<tbody>
																	<tr>
																		<td style="vertical-align: bottom;">
																			<span color="#f2547d" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" color="#f2547d" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td style="padding: 0px; color: rgb(0, 0, 0);">
															<a href="tel:0123456789" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
																<span>0123456789</span>
															</a>
														</td>
													</tr>
													<tr height="25" style="vertical-align: middle;">
														<td width="30" style="vertical-align: middle;">
															<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
																<tbody>
																	<tr>
																		<td style="vertical-align: bottom;">
																			<span color="#f2547d" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#f2547d" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td style="padding: 0px;">
															<a href="mailto:jean@dupont.fr" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
																<span>jean@dupont.fr</span>
															</a>
														</td>
													</tr>
													<tr height="25" style="vertical-align: middle;">
														<td width="30" style="vertical-align: middle;">
															<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
																<tbody>
																	<tr>
																		<td style="vertical-align: bottom;">
																			<span color="#f2547d" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" color="#f2547d" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td style="padding: 0px;">
															<a href="//www.apside.com" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
																<span>www.apside.com</span>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
											<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
												<tbody>
													<tr>
														<td height="30"></td>
													</tr>
												</tbody>
											</table>

										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	</body>
</html>
